/* general */
*, *::before, *::after{ box-sizing: border-box; }

body{
  background-color: #7F8C8D;
  font-size: 15px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}

.fill-container{
  width: 100%;
}

.strong{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.button{
  width: 50px;
  height: 30px;
  color: white;
  padding: 7px 25px;
  background-color: #3498DB;
  border: none;
}

.button:hover, .button:focus{
  background-color: #2478EB;
}

.button:active{
  outline: 1px solid grey;
}

.container{
  width: 960px;
  margin: 20px auto;
  padding: 0 0 30px;

}

/* header */

.page-title{
  background-color: #2ECC71;
  height: 230px;
  border-bottom: 7px solid #26AB5E;
  color: white;
  padding: 175px 10px 0;
  margin-bottom: 0;
}

/* navbar */
.navbar-main{
  margin: 0;
  display: inline-block;
  background-color: #34495E;
  width: 100%;
  text-align: right;
  border-bottom: 7px solid #2C3E50;
}

.navbar-main li{
  margin-top: 15px;
  height: 30px;
  display: inline-block;
  margin-right: 20px;
}

/* article */
.main{
  padding: 0 30px 30px;
  background-color: #ECF0F1;
  margin-right: 15px;
}

.article-header{
  padding-top: 30px;
  margin-top: 0;
}

.main p{
  margin-left: 20px;
  line-height: 20px;
}

.article-link{
  color: #D45E10;
}

.article-link:hover, .article-link:focus{
  color: #EE4000;
}

.uppercase{
  text-transform: uppercase;
}

.navbar-main li a{
  color: white;
}

.navbar-main li a:hover, .navbar-main li a:focus{
  color: grey;
}


/* sections */
.section-header{
  margin-top: 30px;
  border-bottom: 1px solid #A4A4A4;
  padding: 0 0 5px 10px;
}

/* table */
.table{
  text-align: left;
}

.table thead{
  background-color: #BDC3C7;
}

.table th, .table td{
  border: 1px solid #A4A4A4;
  padding: 10px;
}

/* code block */
.code-block{
  background-color: #BDC3C7;
  padding: 30px 40px;
}

/* image */
.full-width{
  width: 100%;
}

.gallery{
  text-align: center;
}

.gallery>*{
  margin: 0 10px;
  height: 100%;
}

/* ordered list */

.ordered-list{
  margin-left: -20px;
}

.ordered-list p{
  margin: 0 0 15px 0;
}

/* footer */
.post-footer{
  margin: 30px 0 0;
}

/* form */
.line-through{
  padding-left: 40px;
  position: relative;
  overflow: hidden;
}

.dim{
  color: #A4A4A4;
  font-weight: normal;

}

.line-through::after, .line-through::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: #A4A4A4;
}

.line-through::after{
  margin-left: 10px;
}

.line-through::before{
  left: 0px;
  width: 30px;
}

.comment-form ul{
  padding: 0;
}

.comment-form-label{
  width: 20%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.comment-form-label + input{
  margin: 0 0 15px 5px;
  display: inline-block;
  height: 30px;
  width: 70%;
}

.comment-form-comment{
  width: 100%;
  height: 160px;
}

.button-submit{
  margin: 40px 0;
  height: 40px;
  font-size: 13px;
  background-color: #C0392B;
}

.button-submit:hover, .button-submit:focus{
  background-color: #c11b15;
}

/* comment stream */
.media-block{

}

.media-block-responses{
  margin-left: 30px;
  border-left: 1px solid silver;
  padding-left: 15px;
}

.media-block-avatar{
  width: 65px;
  float: left;
  margin-right: 20px;

}

.media-block-header{
  padding-top: 10px;
  margin-bottom: 5px;
}

.media-block-body p{
  margin-left: 0;
}

/* media queries */
@media (max-width: 980px){
  .container{
    width: 90%;
  }
}

@media (max-width: 600px){
  .navbar-main li{
    text-align: center;
    display: block;
    border-bottom: 3px solid #2C3E50;
    width: 100%;
  }
}
